// Make toolbar buttons touch the bottom of the navbar
#branding{ margin-bottom:-2px; font-family:'Dosis'; font-weight:600; font-size:20px; 
  i{ font-size:.8em; }
}

#transit_primary_toolbar{ z-index:400; @include box-shadow(0px 1px 4px 0px rgba(black, 0.1));
  ul.navbar-nav > li{ 
    border:solid rgba(invert($navbar-default-bg), 0.1); 
    border-width:0 1px 0px 0px;
    &:first-child{ border-left-width:1px; }
  }
  div.transit-toolbar-button, li.transit-toolbar-button{ 
    & > a{ position:relative; }
    i{ display:block; position:absolute; top:($navbar-padding-vertical / 2); left:0; right:0; font-size:1.2em;
      &:before{ display:block; text-align:center; }
    }
    span.title{ position:relative; top:$navbar-padding-vertical / 1.5; font-size:.8em; text-transform:uppercase; }
  }
}