/*------------------------------------------------------
 Toolbar
//------------------------------------------------------*/
.mercury-toolbar-container{ user-select:none; position:fixed; z-index:10010; top:0; left:0; width:100%; }
.mercury-toolbar { -webkit-user-select:none; -moz-user-select:none; user-select:none; background:$transit-toolbar-background;
  border-bottom:1px solid darken($transit-toolbar-background, 5%); cursor:default;
}

.mercury-toolbar-button-container{ display:inline-block; }
.mercury-toolbar-expander{ position:absolute; display:none; right:0; border-left:1px solid lighten($transit-toolbar-background, 7%); }
.mercury-button, .mercury-button-group, .mercury-separator, .mercury-line-separator{ display:block; float:left; }
.mercury-separator,.mercury-line-separator{ width:1px; border:0; margin:0; }
.mercury-line-separator{ width:1px; background:lighten($transit-toolbar-background, 10%); }
.mercury-button{ cursor:pointer; }
.mercury-button em{ display:block; font-style:normal; }
.mercury-expander{ padding:5px 0; border-radius:4px; -moz-border-radius:4px; }
.mercury-expander .mercury-expander-button{ cursor:default; white-space:nowrap; padding:0 20px 0 10px; }
.mercury-expander .mercury-expander-button:hover{ background:#CCC; }
.mercury-expander .mercury-expander-button em{ display:inline-block; float:left; width:20px; height:20px; margin-right:10px; -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%; background-size: 100% 100%;
}
.mercury-expander .mercury-expander-button span{ display:inline-block; line-height:20px; }
.disabled .mercury-button, .mercury-button.disabled { opacity: 0.33; }

/*------------------------------------------------------
 Primary Toolbar
//------------------------------------------------------*/
.mercury-primary-toolbar{ position:relative; overflow:hidden; text-shadow:rgba(black, .2) -1px -1px 0; 
  .mercury-button{ display:inline-block; min-width:55px; text-align:center; white-space:nowrap; text-decoration:none; font-family:$transit-toolbar-font-family; }
  .mercury-separator, .mercury-line-separator{ display:inline-block; width:1px; height:2.25em; margin:.5em .5em 0; background:lighten($transit-toolbar-background, 15%); }
  .mercury-toolbar-button-container{ padding:0; white-space:nowrap; width:100%; }
  .mercury-toolbar-expander{ height:0px; }
  .mercury-button{ border:solid transparent; border-width:0 1px;
    &:hover{ background:$transit-toolbar-hover; color:$transit-toolbar-hover-color; }
    em{ margin:0 -5px; padding:.35em 0; font-size:8.5pt; line-height:15px; color:$transit-toolbar-color;
      &:before{ content:" "; font-family:'FontAwesome'; display:block; text-align:center; height:24px; line-height:24px; font-size:1.45em; 
        -webkit-font-smoothing:antialiased;
      }
    }
  }
  
  // Buttons
  .mercury-rightSide-group{ float:right; }
  .mercury-save-button{ background:lighten($transit-toolbar-background, 5%); border-left:1px solid darken($transit-toolbar-background, 3%); }
  .mercury-close-button{ float:right; margin-left:1em; opacity:0.5;
    &:hover{ opacity:1; }
    em:before{ content:$fa-chevron-circle-left; }
  }
  .mercury-publish-button em:before{ content:$fa-check; }
  .mercury-save-button em:before{ content:$fa-floppy-o; }
  .mercury-preview-button{
    &.pressed{ background:$transit-toolbar-pressed; border-color:darken($transit-toolbar-pressed, 3%);
      em{ color:$transit-toolbar-pressed-color; }
    }
    em:before{ content:$fa-eye; }
  }
  .mercury-undo-button em:before{ content:$fa-undo; }
  .mercury-redo-button em:before{ content:$fa-repeat; }
  
  .mercury-insertLink-button em:before{ content:$fa-link; }
  .mercury-insertMedia-button em:before{ content:$fa-picture-o; }
  .mercury-snippetPanel-button em:before{ content:$fa-file-text-o; }
  .mercury-editForm-button em:before{ content:$fa-file-text; }
  .mercury-mediaLibrary-button em:before{ content:$fa-archive; }
  
  div.mercury-persistance-group + hr{ margin-left:0; }
}

/*------------------------------------------------------
 Editor/Secondary Toolbar
//------------------------------------------------------*/

.mercury-editable-toolbar{ padding:.25em 1em 0; border-top: 1px solid darken($transit-edit-bar-color, 5%); background:$transit-edit-bar-color; }
.mercury-editable-toolbar:after{ content:'\00a0'; display:block; visibility:hidden; clear:both; height:0; }
.mercury-editable-toolbar{
  .mercury-separator, .mercury-line-separator{ height:$transit-edit-bar-button-size - 8px; padding:0; margin:4px .5em; }
  .mercury-separator{ margin:0 3px 2px; }
  .mercury-line-separator{ background:lighten($transit-edit-bar-color, 10%); }
  .mercury-button-group{ white-space:nowrap; }
  .mercury-button{ width:$transit-edit-bar-button-size; height:$transit-edit-bar-button-size; margin:0 1px; border-radius:2px; background:lighten($transit-edit-bar-color, 10%);
    border:1px solid darken($transit-edit-bar-color, 3%); 
    &:hover{ background:lighten($transit-edit-bar-color, 15%); }
    &:before{ content:" "; font-family:"FontAwesome"; display:block; width:$transit-edit-bar-button-size; height:$transit-edit-bar-button-size; color:$transit-edit-bar-button-color; 
      line-height:$transit-edit-bar-button-size; text-align:center; -webkit-font-smoothing:antialiased; text-shadow:rgba(black, .2) -1px -1px 0px; font-size:$transit-edit-bar-button-size - 6px;
      text-align:center;
    }
    &.active{ background:$transit-toolbar-active; color:$transit-toolbar-active-color; }
  }
  
  .mercury-table-group.disabled{ display:none; }
  
  .mercury-button em{ display:none; }
  .mercury-button-palette{ width:23px; background-position: 0 -36px; }
  
  // Buttons
  .mercury-bold-button:before{ content:$fa-bold; }
  .mercury-italic-button:before{ content:$fa-italic; }
  .mercury-strikethrough-button:before{ content:$fa-strikethrough; }
  .mercury-underline-button:before{ content:$fa-underline; }
  .mercury-subscript-button:before{ content:$fa-subscript; }
  .mercury-superscript-button:before{ content:$fa-superscript; }
  .mercury-justifyLeft-button:before{ content:$fa-align-left; }
  .mercury-justifyCenter-button:before{ content:$fa-align-center; }
  .mercury-justifyRight-button:before{ content:$fa-align-right; }
  .mercury-justifyFull-button:before{ content:$fa-align-justify; }
  .mercury-insertUnorderedList-button:before{ content:$fa-list-ul; }
  .mercury-insertOrderedList-button:before{ content:$fa-list-ol; }
  .mercury-outdent-button:before{ content:$fa-outdent; }
  .mercury-indent-button:before{ content:$fa-indent; }
  .mercury-removeFormatting-button:before{ content:$fa-times; }
  .mercury-horizontalRule-button:before{ content:"\2014"; font-family:'Helvetica', 'Arial', sans-serif; font-weight:bold; }
  
  .mercury-insertRowBefore-button:before{ content:$fa-list; }
  
  // Selects
  .mercury-button-select{ width:auto !important; overflow:hidden; padding-left:1em; 
    em{ display:block; padding-right:2em; cursor:pointer; white-space:nowrap; font-style:normal; font-size:.85em; line-height:24px; color:$transit-edit-bar-button-color; }
  }
  
}

.mercury-select-options{ font-family:$transit-font-family; 
  h1, h2, h3, h4, h5, h6, div{ font-family:$transit-font-family; }
  h1{ font-size:22px; }
  h2{ font-size:18px; }
  h3{ font-size:16px; }
  h4{ font-size:14px; }
  h5, h6{ font-size:12px; }
}

/*------------------------------------------------------
 Snippet Toolbar
//------------------------------------------------------*/

.mercury-snippet-toolbar{ position:absolute; top:100px; left:15px;
  border:1px solid $transit-toolbar-background; border-radius:3px; -moz-border-radius:3px; box-shadow: 1px 1px 2px rgba(0, 0, 0, .5); padding:3px 7px 1px 7px;
  &:after{ content:'\00a0'; display:block; visibility:hidden; clear:both; height:0; }
  .mercury-separator, .mercury-line-separator{ height:18px; padding:0; margin:0 7px 2px; }
  .mercury-separator{ margin:0 3px 2px; }
  .mercury-button-group{ white-space:nowrap; }
  .mercury-button-group .mercury-button{ width:24px; height:24px; margin:0 0 2px; 
    em{ display:none; }
  }
}
/* default buttons */
.mercury-snippet-toolbar .mercury-editSnippet-button                { background-position: -24px 0 }
.mercury-snippet-toolbar .mercury-editSnippet-button.active         { background-position: -24px -18px }
.mercury-snippet-toolbar .mercury-removeSnippet-button              { background-position: -48px 0 }
.mercury-snippet-toolbar .mercury-removeSnippet-button.active       { background-position: -48px -18px }
.mercury-snippet-toolbar .mercury-dragsnippet-button                { background-position: -72px 0 }
.mercury-snippet-toolbar .mercury-dragsnippet-button.active         { background-position: -72px -18px }