<div id="transit_media_library" class="transit-medias">
    <h1>Media Library</h1>
    <div id="transit_media_form">

    </div>
    <ul id="transit_media_list">
        <% collection.each do |file| %>
        <%= render file %>
        <% end %>
    </ul>
</div>