@import url(//fonts.googleapis.com/css?family=Dosis:600);
@import "bootstrap/variables";


/*------------------------------------------------------
 General styles
//------------------------------------------------------*/

// Fonts
$font-size-base: 13px;

// Navbar
$navbar-border-radius:0px;
$navbar-brand-font-family:'Dosis' !default;

// Modals
$modal-title-bg: $gray-lighter !default;
$modal-title-color: #444 !default;