<div id="transit_pages" class="transit-pages">
    <h1>Manage Pages</h1>
    <div class="actions">
        <%= link_to "<i class='icon-plus'></i> New Page".html_safe, transit.new_page_path, class: 'button' %>
    </div>
    <% if collection.any? %>
    <ul id="transit_page_list">
        <% collection.each do |page| %>
        <%= render partial: "transit/pages/page", locals: { page: page } %>
        <% end %>
    </ul>
    <% else %>
    <p class="no-resources">You haven't created any pages. Use the link above to create one.</p>
    <% end %>
</div>