<div id="transit_managed_collection" class="<%= resource_collection_name.to_s %>">
    <table class="table table-bordered table-striped table-hover transit-table">
        <thead>
            <tr>
                <th></th>
                <th width="5%" class="link">&nbsp;</th>
                <th width="5%" class="link">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>