<div id="mercury_media" class="tabbed mercury-display-pane-container">
    <ul class="tab-nav">
        <li class="active"><a href="#mercury_media_basic">Insert Media</a></li>
        <li><a href="#transit_media_library">Media Library</a></li>
    </ul>
    <div id="mercury_media_basic" class="tab active">
        <%= render partial: "mercury/modals/media_basic" %>
    </div>
    <%= render partial: "mercury/modals/library" %>
</div>