<li data-folder-id="<%= dir.id %>" id="media_folder_<%= dir.id %>" class="closed dir">
    <%= link_to dir.name, transit.media_folder_path(dir), remote: true, rel: "media_folder_#{dir.id}", class: "dir" %>
    <ul class="tree" id="media_folder_<%= dir.id %>_sub">
    </ul>
</li>