<div class="mercury-snippet-panel">
    <div class="filter">
        <input class="filter focusable" type="text">
    </div>
    <ul>
        <li data-filter="example, snippet, favorite, beer">
            <h4>No Snippets Available</h4>
            <!-- No snippets available. -->
        </li>
    </ul>
</div>