<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" lang="en"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Transit</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="dns-prefetch" href="//ajax.googleapis.com" />
    <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'transit' %>
</head>
<body class="outer">
    <header id="transit_primary_toolbar" class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" id="branding"><i class="fa fa-truck"></i> transit</a>
            <ul class="nav navbar-nav" id="transit_toolbar">
            </ul>
            <div id="transit_plugin_bar">
            </div>
            <ul class="nav navbar-nav navbar-right transit-tool" id="transit_action_bar">
            </ul>
        </div>
    </header>
    <iframe id="transit_iframe" name="transit_iframe" src="about:blank" frameborder="0"></iframe>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" charset="utf-8"></script>
    <%= javascript_include_tag "transit" %>
    <script type="text/javascript" charset="utf-8">
    //<![CDATA[
        (function(){
            jQuery(window).one('load', function(){
               Transit.init(); 
            });
        })();
    //]]>
    </script>
</body>
</html>